In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pickle
import warnings
warnings.filterwarnings('ignore')

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\base_events.py", line 645, in run_forever
    self._run_once()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\base_events.py", line 1999, in _run_once
    handle._run()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\kevin\AppData\Local\Temp\ipykernel_8752\3823868662.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\kevin\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\kevin\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\base_events.py", line 645, in run_forever
    self._run_once()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\base_events.py", line 1999, in _run_once
    handle._run()
  File "c:\Users\kevin\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\kevin\AppData\Local\Temp\ipykernel_8752\3823868662.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\kevin\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\kevin\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\kevin\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.4 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

## Importing Data

In [2]:
df=pd.read_csv(r"dataset.csv")
df.head(5)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aspen
1,2590,56,2,212,-6,390,220,235,151,6225,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aspen
2,2804,139,9,268,65,3180,234,238,135,6121,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lodgepole Pine
3,2785,155,18,242,118,3090,238,238,122,6211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Lodgepole Pine
4,2595,45,2,153,-1,391,220,234,150,6172,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Aspen

In [23]:
df['Horizontal_Distance_To_Fire_Points'].min()

np.int64(0)

## Data Understaning

- Elevation(meters) - the height of the land surface above sea level
- Aspect(degrees) - compass direction that a slope faces, typically measured in degrees, 
                    from 0degree to 360degree, where 0 degree is due north and the values increase clockwise.
- Slope(degrees) -  the steepness or incline of the terrain. is a crucial factor because it affects factors like soil erosion, 
                accessibility for logging, the types of machinery that can be used, and the forest's growth and resilience.
- Horizontal_Distance_To_Hydrology(meters) -  from a specific plot or cell of land to the nearest surface water feature.
- Vertical_Distance_To_Hydrology(meters) - Vertical distance to nearest surface water
- Horizontal_Distance_To_Roadways(meters) - Horizontal distance to nearest roadway 
- Horizontal_Distance_To_Fire_Points(meters)- Horizontal distance to nearest wildfire ignition point
- Hillshade_9am(Num) - ranging from 0 to 255, that represents how much direct sunlight a 
                    specific area of the forest would receive at that precise time during summer. 
- Hillshade_Noon(Num)- 
- Hillshade_3pm (Num)-
- Wilderness_Area_1 -binary indicator (0 or 1) that specifies whether a 30m x 30m forest patch is located within the Rawah Wilderness Area
- soil type - type of soil (One hot encoded)
- Cover_Type - the specific type of dominant tree species or forest classification for a given area
    - Spruce/Fir: A mixture dominated by spruce and fir trees.
    - Lodgepole Pine: Areas where lodgepole pine is the primary tree species.
    - Ponderosa Pine: Forests with Ponderosa pine as the dominant tree.
    - Cottonwood/Willow: Areas with a mix of cottonwood and willow trees.
    - Aspen: Forests where aspen is the main tree.
    - Douglas-fir: Areas with Douglas-fir as the dominant tree species.
    - Krummholz: A term for trees that are twisted and stunted due to harsh winds and cold conditions, often found at high altitudes.

In [3]:
rows,columns=df.shape
print(f"There are {rows} rows and {columns} columns in the Dataset")

There are 145890 rows and 55 columns in the Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145890 entries, 0 to 145889
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           145890 non-null  int64
 1   Aspect                              145890 non-null  int64
 2   Slope                               145890 non-null  int64
 3   Horizontal_Distance_To_Hydrology    145890 non-null  int64
 4   Vertical_Distance_To_Hydrology      145890 non-null  int64
 5   Horizontal_Distance_To_Roadways     145890 non-null  int64
 6   Hillshade_9am                       145890 non-null  int64
 7   Hillshade_Noon                      145890 non-null  int64
 8   Hillshade_3pm                       145890 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  145890 non-null  int64
 10  Wilderness_Area_1                   145890 non-null  float64
 11  Wilderness_Area_2                   145890 non-null  float64
 12  Wilderness_Area_3                   145890 non-null  float64
 13  Wilderness_Area_4                   145890 non-null  float64
 14  Soil_Type_1                         145890 non-null  float64
 15  Soil_Type_2                         145890 non-null  float64
 16  Soil_Type_3                         145890 non-null  float64
 17  Soil_Type_4                         145890 non-null  float64
 18  Soil_Type_5                         145890 non-null  float64
 19  Soil_Type_6                         145890 non-null  float64
 20  Soil_Type_7                         145890 non-null  float64
 21  Soil_Type_8                         145890 non-null  float64
 22  Soil_Type_9                         145890 non-null  float64
 23  Soil_Type_10                        145890 non-null  float64
 24  Soil_Type_11                        145890 non-null  float64
 25  Soil_Type_12                        145890 non-null  float64
 26  Soil_Type_13                        145890 non-null  float64
 27  Soil_Type_14                        145890 non-null  float64
 28  Soil_Type_15                        145890 non-null  float64
 29  Soil_Type_16                        145890 non-null  float64
 30  Soil_Type_17                        145890 non-null  float64
 31  Soil_Type_18                        145890 non-null  float64
 32  Soil_Type_19                        145890 non-null  float64
 33  Soil_Type_20                        145890 non-null  float64
 34  Soil_Type_21                        145890 non-null  float64
 35  Soil_Type_22                        145890 non-null  float64
 36  Soil_Type_23                        145890 non-null  float64
 37  Soil_Type_24                        145890 non-null  float64
 38  Soil_Type_25                        145890 non-null  float64
 39  Soil_Type_26                        145890 non-null  float64
 40  Soil_Type_27                        145890 non-null  float64
 41  Soil_Type_28                        145890 non-null  float64
 42  Soil_Type_29                        145890 non-null  float64
 43  Soil_Type_30                        145890 non-null  float64
 44  Soil_Type_31                        145890 non-null  float64
 45  Soil_Type_32                        145890 non-null  float64
 46  Soil_Type_33                        145890 non-null  float64
 47  Soil_Type_34                        145890 non-null  float64
 48  Soil_Type_35                        145890 non-null  float64
 49  Soil_Type_36                        145890 non-null  float64
 50  Soil_Type_37                        145890 non-null  float64
 51  Soil_Type_38                        145890 non-null  float64
 52  Soil_Type_39                        145890 non-null  float64
 53  Soil_Type_40                        145890 non-null  float64
 54  Cover_Type                          145890 non-null  object
dtypes: float64(44), int64(10), object(1)
memory usage: 61.2+ MB

In [5]:
'''
There are no Null values
Already One Hot Encoded
'''

'\nThere are no Null values\nAlready One Hot Encoded\n'

In [6]:
df.columns

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Wilderness_Area_1',
       'Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4',
       'Soil_Type_1', 'Soil_Type_2', 'Soil_Type_3', 'Soil_Type_4',
       'Soil_Type_5', 'Soil_Type_6', 'Soil_Type_7', 'Soil_Type_8',
       'Soil_Type_9', 'Soil_Type_10', 'Soil_Type_11', 'Soil_Type_12',
       'Soil_Type_13', 'Soil_Type_14', 'Soil_Type_15', 'Soil_Type_16',
       'Soil_Type_17', 'Soil_Type_18', 'Soil_Type_19', 'Soil_Type_20',
       'Soil_Type_21', 'Soil_Type_22', 'Soil_Type_23', 'Soil_Type_24',
       'Soil_Type_25', 'Soil_Type_26', 'Soil_Type_27', 'Soil_Type_28',
       'Soil_Type_29', 'Soil_Type_30', 'Soil_Type_31', 'Soil_Type_32',
       'Soil_Type_33', 'Soil_Type_34', 'Soil_Type_35', 'Soil_Type_36',
       'Soil_Type_37', 'Soil_Type_38', 'Soil_Type_39', 'Soil_Type_40',
       'Cover_Type'],
      dtype='object')

### Decoding back to original columns from one hot encoded columns

In [7]:
one_hot_cols1=['Wilderness_Area_1','Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4']
one_hot_cols2=['Soil_Type_1', 'Soil_Type_2', 'Soil_Type_3', 'Soil_Type_4',
       'Soil_Type_5', 'Soil_Type_6', 'Soil_Type_7', 'Soil_Type_8',
       'Soil_Type_9', 'Soil_Type_10', 'Soil_Type_11', 'Soil_Type_12',
       'Soil_Type_13', 'Soil_Type_14', 'Soil_Type_15', 'Soil_Type_16',
       'Soil_Type_17', 'Soil_Type_18', 'Soil_Type_19', 'Soil_Type_20',
       'Soil_Type_21', 'Soil_Type_22', 'Soil_Type_23', 'Soil_Type_24',
       'Soil_Type_25', 'Soil_Type_26', 'Soil_Type_27', 'Soil_Type_28',
       'Soil_Type_29', 'Soil_Type_30', 'Soil_Type_31', 'Soil_Type_32',
       'Soil_Type_33', 'Soil_Type_34', 'Soil_Type_35', 'Soil_Type_36',
       'Soil_Type_37', 'Soil_Type_38', 'Soil_Type_39', 'Soil_Type_40']
df['Wilderness_Area']=df[one_hot_cols1].idxmax(axis=1)
df['Soil_Type']=df[one_hot_cols2].idxmax(axis=1)
df['Wilderness_Area']=df['Wilderness_Area'].str.split('_').str[2].astype(int)
df['Soil_Type']=df['Soil_Type'].str.split('_').str[2].astype(int)

In [8]:
df.drop(columns=['Soil_Type_1', 'Soil_Type_2', 'Soil_Type_3', 'Soil_Type_4',
       'Soil_Type_5', 'Soil_Type_6', 'Soil_Type_7', 'Soil_Type_8',
       'Soil_Type_9', 'Soil_Type_10', 'Soil_Type_11', 'Soil_Type_12',
       'Soil_Type_13', 'Soil_Type_14', 'Soil_Type_15', 'Soil_Type_16',
       'Soil_Type_17', 'Soil_Type_18', 'Soil_Type_19', 'Soil_Type_20',
       'Soil_Type_21', 'Soil_Type_22', 'Soil_Type_23', 'Soil_Type_24',
       'Soil_Type_25', 'Soil_Type_26', 'Soil_Type_27', 'Soil_Type_28',
       'Soil_Type_29', 'Soil_Type_30', 'Soil_Type_31', 'Soil_Type_32',
       'Soil_Type_33', 'Soil_Type_34', 'Soil_Type_35', 'Soil_Type_36',
       'Soil_Type_37', 'Soil_Type_38', 'Soil_Type_39', 'Soil_Type_40',
       'Wilderness_Area_1','Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4'],inplace=True)
df.columns

Index(['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology',
       'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways',
       'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
       'Horizontal_Distance_To_Fire_Points', 'Cover_Type', 'Wilderness_Area',
       'Soil_Type'],
      dtype='object')

### Converting Back to One Hot Encoded Values

In [9]:
one_hot_encoder_wild=OneHotEncoder()
wilderness_encoder=one_hot_encoder_wild.fit_transform(df[['Wilderness_Area','Soil_Type']]).toarray().astype(int)
wilderness_encoder

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [10]:
one_hot_encoder_wild.get_feature_names_out(['Wilderness_Area','Soil_Type'])

array(['Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3',
       'Wilderness_Area_4', 'Soil_Type_1', 'Soil_Type_2', 'Soil_Type_3',
       'Soil_Type_4', 'Soil_Type_5', 'Soil_Type_6', 'Soil_Type_7',
       'Soil_Type_8', 'Soil_Type_9', 'Soil_Type_10', 'Soil_Type_11',
       'Soil_Type_12', 'Soil_Type_13', 'Soil_Type_14', 'Soil_Type_16',
       'Soil_Type_17', 'Soil_Type_18', 'Soil_Type_19', 'Soil_Type_20',
       'Soil_Type_21', 'Soil_Type_22', 'Soil_Type_23', 'Soil_Type_24',
       'Soil_Type_25', 'Soil_Type_26', 'Soil_Type_27', 'Soil_Type_28',
       'Soil_Type_29', 'Soil_Type_30', 'Soil_Type_31', 'Soil_Type_32',
       'Soil_Type_33', 'Soil_Type_34', 'Soil_Type_35', 'Soil_Type_36',
       'Soil_Type_37', 'Soil_Type_38', 'Soil_Type_39', 'Soil_Type_40'],
      dtype=object)

In [11]:
wilderness_encoded=pd.DataFrame(wilderness_encoder,columns=one_hot_encoder_wild.get_feature_names_out(['Wilderness_Area','Soil_Type']))
wilderness_encoded.columns

Index(['Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3',
       'Wilderness_Area_4', 'Soil_Type_1', 'Soil_Type_2', 'Soil_Type_3',
       'Soil_Type_4', 'Soil_Type_5', 'Soil_Type_6', 'Soil_Type_7',
       'Soil_Type_8', 'Soil_Type_9', 'Soil_Type_10', 'Soil_Type_11',
       'Soil_Type_12', 'Soil_Type_13', 'Soil_Type_14', 'Soil_Type_16',
       'Soil_Type_17', 'Soil_Type_18', 'Soil_Type_19', 'Soil_Type_20',
       'Soil_Type_21', 'Soil_Type_22', 'Soil_Type_23', 'Soil_Type_24',
       'Soil_Type_25', 'Soil_Type_26', 'Soil_Type_27', 'Soil_Type_28',
       'Soil_Type_29', 'Soil_Type_30', 'Soil_Type_31', 'Soil_Type_32',
       'Soil_Type_33', 'Soil_Type_34', 'Soil_Type_35', 'Soil_Type_36',
       'Soil_Type_37', 'Soil_Type_38', 'Soil_Type_39', 'Soil_Type_40'],
      dtype='object')

In [12]:
df=pd.concat([df.drop(['Wilderness_Area','Soil_Type'],axis=1),wilderness_encoded],axis=1)
df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,0
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,0
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,0
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,0
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,0

In [13]:
#Saving onehotenoder for the model into a pickle file
with open('ohe_wildernessandsoil.pkl','wb') as file:
    pickle.dump(one_hot_encoder_wild,file)

In [14]:
# Checking If One hot encoder works
with open('ohe_wildernessandsoil.pkl', 'rb') as file:
    loaded_encoder = pickle.load(file)
new_df = pd.DataFrame({
    'Wilderness_Area': [1, 3],
    'Soil_Type': [11, 2]
})

encoded = loaded_encoder.transform(new_df[['Wilderness_Area', 'Soil_Type']]).toarray().astype(int)
cols = loaded_encoder.get_feature_names_out(['Wilderness_Area', 'Soil_Type'])
encoded_df = pd.DataFrame(encoded, columns=cols)
encoded_df

,Wilderness_Area_1,Wilderness_Area_2,Wilderness_Area_3,Wilderness_Area_4,Soil_Type_1,Soil_Type_2,Soil_Type_3,Soil_Type_4,Soil_Type_5,Soil_Type_6,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
for cols in wilderness_encoded.columns:
    if df[cols].value_counts().shape[0]!=2:
        print(f'{cols} is not binary')
# No output means All are Binary with 1 and 0

In [16]:
df

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,0
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,0
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,0
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,0
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145885,2834,88,8,376,44,2552,232,227,128,1595,...,0,0,0,0,0,0,0,0,0,0
145886,2832,68,4,390,44,2522,224,231,142,1572,...,0,0,0,0,0,0,0,0,0,0
145887,2829,80,7,390,33,2492,229,228,133,1550,...,0,0,0,0,0,0,0,0,0,0
145888,2826,121,7,379,30,2462,232,234,135,1528,...,0,0,0,0,0,0,0,0,0,0
145889,2823,132,12,371,27,2432,239,234,123,1506,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.dtypes

Elevation                              int64
Aspect                                 int64
Slope                                  int64
Horizontal_Distance_To_Hydrology       int64
Vertical_Distance_To_Hydrology         int64
Horizontal_Distance_To_Roadways        int64
Hillshade_9am                          int64
Hillshade_Noon                         int64
Hillshade_3pm                          int64
Horizontal_Distance_To_Fire_Points     int64
Cover_Type                            object
Wilderness_Area_1                      int32
Wilderness_Area_2                      int32
Wilderness_Area_3                      int32
Wilderness_Area_4                      int32
Soil_Type_1                            int32
Soil_Type_2                            int32
Soil_Type_3                            int32
Soil_Type_4                            int32
Soil_Type_5                            int32
Soil_Type_6                            int32
Soil_Type_7                            int32
Soil_Type_8                            int32
Soil_Type_9                            int32
Soil_Type_10                           int32
Soil_Type_11                           int32
Soil_Type_12                           int32
Soil_Type_13                           int32
Soil_Type_14                           int32
Soil_Type_16                           int32
Soil_Type_17                           int32
Soil_Type_18                           int32
Soil_Type_19                           int32
Soil_Type_20                           int32
Soil_Type_21                           int32
Soil_Type_22                           int32
Soil_Type_23                           int32
Soil_Type_24                           int32
Soil_Type_25                           int32
Soil_Type_26                           int32
Soil_Type_27                           int32
Soil_Type_28                           int32
Soil_Type_29                           int32
Soil_Type_30                           int32
Soil_Type_31                           int32
Soil_Type_32                           int32
Soil_Type_33                           int32
Soil_Type_34                           int32
Soil_Type_35                           int32
Soil_Type_36                           int32
Soil_Type_37                           int32
Soil_Type_38                           int32
Soil_Type_39                           int32
Soil_Type_40                           int32
dtype: object

In [18]:
#Encoding Target Variables 
lr=LabelEncoder()
df['Tv']=lr.fit_transform(df['Cover_Type'])

# Save the fitted encoder
with open('label_encoder_cover_type.pkl', 'wb') as file:
    pickle.dump(lr, file)

In [19]:
# Checking If Label encoder works
with open('label_encoder_cover_type.pkl', 'rb') as file:
    loaded_le = pickle.load(file)

print("Classes:", loaded_le.classes_)
encoded_value = 2
print("Class for number", encoded_value, ":", loaded_le.inverse_transform([encoded_value])[0])

Classes: ['Aspen' 'Cottonwood/Willow' 'Douglas-fir' 'Krummholz' 'Lodgepole Pine'
 'Ponderosa Pine' 'Spruce/Fir']
Class for number 2 : Douglas-fir

In [20]:
df['Tv'].value_counts(normalize=True)*100

Tv
4    70.649805
6    21.324285
0     2.103640
3     1.480568
5     1.480568
2     1.480568
1     1.480568
Name: proportion, dtype: float64

In [21]:
#Dropping Cover_Type Column
df.drop(columns=['Cover_Type'],inplace=True,axis=1)

In [22]:
df.to_csv('cleaneddata.csv')